<%- include('header'); -%>
    
<form action="/" method="post">
    <input type="text" name="postTitle" placeholder="Post Title">
    <textarea name="postBody" id="" cols="30" rows="10" placeholder="Post Body"></textarea>
    <button type="submit">Publish</button>
</form>

<%- include('footer'); -%>
